/* цвет основного текста (больше всего заголовков) #212121 */

/* вторичный текс (описание преимуществ) #757575 */

/* белый цвет текста #FFFFFF */

/* акцент (заливки, ховер) #2196F3 */

/* цвет фона #E5E5E5 */

body {
  background-color: #e5e5e5;
  color: #212121;
}

/* убирает все точки со всех списках без исключений */
ul {
  list-style: none;
}
/* убирает точки со списков точечно, там где это нужно 
.list {
  list-style: none;
} надо добавить в класс, через пробел (class="... list")*/

/* убрал во всех ссылках подчеркивание */
a {
  text-decoration: none;
}

.logo {
  color: #000000;
}

.logo-style {
  color: #2196f3;
}

.logo:hover,
.logo:focus {
  color: #2196f3;
}

/* Заголовок/герой */
.hero-title,
.hero-link {
  color: #ffffff;
}

/* стили навигации */
.site-nav a {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
/* можно применить стили сразу ко всем ссылка одновременно:
.site-nav a:hover (без link)
при помощи link можно задавать опрделеной ссылке свойства */

/* стили фильтра */
.filtr a {
  color: #212121;
}

.filtr a:hover,
.filtr a:focus {
  color: #ffffff;
}

/* футер */
.site-nav a {
  color: #212121;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #2196f3;
}

/* ссылки "присоединяйтесь" не стилизировал, так как вместо ссылок будут кнопки */
