/* цвет основного текста (больше всего заголовков) #212121 */

/* вторичный текс (описание преимуществ) #757575 */

/* белый цвет текста #FFFFFF */

/* акцент (заливки, ховер) #2196F3 */

/* цвет фона #E5E5E5 */

/* надо заменить цвета на кастомные свойства */

/* :root */

/* стилизация по тегам -----------------------------------*/
body {
  background-color: #e5e5e5;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* убирает все точки со всех списках без исключений */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* убирает точки со списков точечно, там где это нужно 
.list {
  list-style: none;
} надо добавить в класс, через пробел (class="... list")*/

/* убрал во всех ссылках подчеркивание */
a {
  text-decoration: none;
}
/* ------------------------------------------------------- */

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 3px solid red;
}
/* надо секцию оборачивать в див и применять стиль контейнер
<section>
<div class=""> */

/* стили лошотипа----------------------------------------- */
.logo {
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-style {
  color: #2196f3;
}

.logo:hover,
.logo:focus {
  color: #2196f3;
}

.link.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
/* Заголовок/герой -------------------------------------------*/
.hero-title {
  margin-top: 0;
  margin-bottom: 30;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  outline: 3px solid red;
}

/* стили навигации ------------------------------------------ */
.site-nav a {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
/* можно применить стили сразу ко всем ссылка одновременно:
.site-nav a:hover (без link)
при помощи link можно задавать опрделеной ссылке свойства
можно сделать еще и так:
.site-nav a:hover,
.site-nav a:focus {
  color: #2196f3;
} */

/* подсвечивает текущию страницу, ставится один на странице */
.site-nav .link.current {
  color: #2196f3;
}

/* стили фильтра --------------------------------------------- */

.hero.container {
  text-align: center;
}

.button.primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.button a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  color: #212121;
  text-align: center;
}

.button-secondary:hover {
  background-color: #2196f3;
  color: #ffffff;
}

/* стили секций заголовки ------------------------------------- */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* секция преимущества/функции ----------------------------------*/
.features-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: aqua;
}

.features-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
}

.images-fonts {
  background: #f5f4fa;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
}

display: inline-block;
/* секция виды деятельности -------------------------------------- */
.function-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

/* наша команда -------------------------------------------------- */
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
}

/* портфолио - примеры работ ------------------------------------- */
.title-compani {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.type-work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.text-compani {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

/* футер */
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.link.contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.invitation {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.developer {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}

/* ссылки "присоединяйтесь" не стилизировал, так как вместо ссылок будут кнопки */
